# Ignore node_modules directory
node_modules/

# Ignore Next.js build output directories
.next/
out/

# Ignore build directory (jika ada)
/build

# Ignore any local environment files
.env.local

# Ignore npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore PEM files (private keys, certificates, etc.)
*.pem
